<!DOCTYPE html>
<html>
    <head>
        <title>New Reply Notification</title>
        <Meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content = "width=device-width, initial-scale=1.0" />
    <style>
        h1{
            text-align: center;
            font-size: 30px;
            font-weight: 700;
        }
    </style>
    </head>
    <body>
        <h1>Hello <%= name %>,</h1>
        <p>A new reply has been added to your question in the video "<%= title %>.</p>
        <p>Please login to our website to view the the reply and continue the discussion</p>
        <p>Thank for being a part of our community</p>
    </body>
</html>